* {
    background-color: lightgray;
    text-align: center; 

}
.default {
    text-align: center; 
    background-color: rgb(230, 213, 213);
}
.translated-text {
    text-align: center;
    background-color: lightcoral;
}
.header {
    margin-left:auto; 
    margin-right:auto;

}
.foot {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    font-size: 10px;
}
.logo {
    border: 4px solid;
    border-color: lightcoral;
    padding: 5px;
}
h1 {
    color: lightcoral;
}
